
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500&display=swap');


body{
  
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
    font-family: 'Sora', sans-serif;
}


.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;

    @media (max-width: 768px) {
        width: 100%; 
        margin: 1rem;
      }
}
    


.input-items{
    display: grid;
    grid-template-rows: repeat(2,50px);
    row-gap: 2rem;
    margin: 2rem;
    width: 50%;
}

#tarih {
    position: sticky;
    top: 10px;
    right: 10px;
    background-color: transparent;
    padding: 10px;
    font-size: 16px;
}
.chart{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#myChart{
    max-width: 768px;
    max-height: 250px;
}